@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111;
  --foreground: white;
  --accent-color: #AF1740;
}

body {
  color: var(--foreground);
  background: var(--background);
  accent-color: var(--accent-color);
}
